<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
      <title>Business Card OCR</title>
  </head>
  <body>
    <h1>Business Card Optical Character Recognition</h1>
    <h3>Enter Card Info</h3>
    <div>
      <form action="#" th:action="@{/save}" method="post"  th:object="${businessCard}">
        <input type="text" th:field="*{info}" style="width:600px; height:50px;"/>
        <input type="submit" />
      </form>
      <form action="#" th:action="@{/clear}" method="get">
        <input type="submit" value="clear"/>
      </form>
      <div th:if="${existingContacts.size() > 0}" th:each="contact : ${existingContacts}">
        Name: <div th:text="${contact.getName()}"></div>
        Email: <div th:text="${contact.getEmailAddress()}"></div>
        Telephone: <div th:text="${contact.getPhoneNumber()}"></div>
      </div>
    </div>
  </body>
</html>